body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    margin-left: 20%;
    margin-right: 20%;
}

.container2{
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    text-align: center;
}

.container3{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    text-align: center;
}


.gameTitle{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

h6{
    font-size: 5px;
}

h7{
    font-size: 11px;
    font-style: italic;
    font-weight: 300;
}


.btn{
    background: #898989 !important;
    color: #ffffff !important;
    cursor:pointer;
    font-size:1em;
    width:50px;
    margin: 10px;
    outline: none;
}

.spaceOut{
    margin-top: 6%;
}

.leftFormat{
    margin-top: 5%;
    text-align: left;
}


.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
    background: #6D6D6D!important;
}
 
